input {
  margin-top: 2px;
  margin-bottom: 2px;
}

body div ul li button {
  margin: 0.1rem 0.5rem;
}

.error {
  color: red;
  background-color: lightgray;
  font-size: 20px;
  border: 1px solid;
  padding: 1rem;
  margin-bottom: 1rem;
}
